/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
    --accent-font-family: 'PressStart2P';
    --basic-font-family: 'Inter';
    --fw-title-card: 715;
    --fw-text-card: 410;
    --block-width: clamp(375px, calc(375px + (700 - 375) * ((100vw - 375px) / (1440 - 375))), 700px);
    --header-height: clamp(327px, calc(327px + (368 - 327) * ((100vw - 375px) / (1440 - 375))), 368px);
    --color-text: #000;
    --contour: #000;
}